body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.faq-section {
    padding: 50px 0;
    background-color: #ffffff;
}

.faq-section h1 {
    margin-bottom: 30px;
}

.join-section {
    background-color: #f7f7f7;
    text-align: center;
    padding: 50px 20px;
}

.join-section button {
    background-color: #6a00f4;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    height: 40vh;
    display: flex;
    align-items: center;
}

.subscribe input {
    border-radius: 5px 0 0 5px;
    border: 1px solid #ddd;
    padding: 10px;
    width: 250px;
}

.subscribe button {
    background-color: #6a00f4;
    border-radius: 0 5px 5px 0;
    border: none;
    padding: 10px 20px;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}
.unique{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.logoo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
