*{
    padding: 0;
    margin: 0;
    color: black;
}

.box{
    display: flex;
    justify-content: space-evenly;
}
.box-one{
    margin: 1rem 0 1rem 0;
    height: 95vh;
    width: 30vw;
    /* border: 2px solid black; */
    border-radius: 25px;
    box-shadow: 5px 5px 5px 2px lightblue;
}
.box-one:hover{
    box-shadow: 5px 5px 5px 8px lightblue;
}
.box-two-first:hover{
    box-shadow: 5px 5px 5px 8px lightblue;
}
.box-two-second:hover{
    box-shadow: 5px 5px 5px 8px lightblue;
}
.box-two-third:hover{
    box-shadow: 5px 5px 5px 8px lightblue;
}
.box-three-second:hover{
    box-shadow: 5px 5px 5px 8px lightblue;
}
.box-three-third:hover{
    box-shadow: 5px 5px 5px 8px lightblue;
}
.photo{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 2rem 0 0 7rem;
    /* border: 2px solid black; */
    background-image: url(assets/IMG_1369.JPG);
    background-size: cover;
    background-position: center;
}
.name{
    font-size: 1.75rem;
    margin-top: 2rem ;
    text-align: center;
    font-weight: 600;
}
.information{
    width: 40vh;
    height: 35vh;
    border: 2px solid black;
    border-radius: 35px;
    margin-top: 1.5rem; 
}
.info{
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.75rem 0 0 0.75rem;
}
.loc{
    padding-bottom: 0.95rem;
}
.first{
    display: flex;

}
.skill{
    border: 2px solid black;
    padding: 0.25rem;
    border-radius: 0.5rem;
    margin-left: 1.6rem;
    width: 7rem;
    margin-bottom:0.5rem ;
}
.button{
    padding: 0.35rem;
    border-radius: 0.5rem;
}


.box-two-first
{
    height: 30vh;
    width: 30vw;
    /* border: 2px solid black; */
    margin-top: 1.25rem;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 2px lightblue;
}
.title{
    font-size: 1.75rem;
    font-weight: 500;
    margin: 0.35rem 0 0 1.5rem;
}
.text{
    font-size: 1rem;
    margin: 0.75rem 0.85rem 0 0.85rem;
}

.box-two-second
{
    height: 30vh;
    width: 30vw;
    margin-top: 1rem;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 2px lightblue;
}
.meter{
    margin: 1rem 0 0 2rem;
    font-size: 1.4rem;
    font-weight: 600;
}
meter{
    width: 16rem;
    padding-left: 1.5rem;
}
.box-two-third
{
    height: 30vh;
    width: 30vw;
    margin-top: 1rem;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 2px lightblue;
}
.inner{
    display: flex;
}
.box1{
    margin-left: 1.5rem;
    margin-top: 1rem;
    width: 40%;
    height: 150px;
    border: 2px solid black;
    border-radius: 1.5rem;
    font-size: 1.25rem;
}
.logoo{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 1rem;
}
.jaal{
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 1.5rem;
}
.home a{
    text-decoration: none;
    color: rgb(233, 28, 28);
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 9rem;
    transition: font-size ease-in 0.08s ;
}
.home a:hover{
    font-size: 1.75rem;
    font-weight: 700;
}
.box-three-first{
    display: flex;
    margin-top: 1rem;
}
.box-three-second
{
    height: 36vh;
    width: 30vw;
    margin-top: 1.25rem;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 2px lightblue;
}
.box-three-second a{
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
}
.box-three-second li{
    margin-left: 2.75rem;
}
.blogs{
    margin-top: 1rem;
}
.head{
    font-size: 1.5rem;
    margin: 0.75rem 0.85rem 0 2rem;
    font-weight: 500;
}
#icon{
    padding-left: 1rem;
    font-size: 1.5rem;
}

.box-three-third
{
    height: 46vh;
    width: 30vw;
    margin-top: 1rem;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 2px lightblue;
    margin-top: 1.25rem;
}
.para{
    margin: 0.75rem 0.5rem 0 0.5rem;
}
.logout{
    padding: 0.5rem;
    border-radius: 0.75rem;
    width: 6rem;
}


